#highScore {
    font-size: 20px;
    position: fixed;
    top: 22px;
    left: 10%;
}

#timeRemaining {
    font-size: 20px;
    position: fixed;
    top: 22px;
    right: 10%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background: aquamarine;
    border: 3px black solid;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto;
    padding: 12px 0;
    width: 250px

}

header {
    border-bottom: 5px aquamarine solid;
    background: gainsboro;
    height: 50px;
    margin: 0;
}

#landingPage, #resultsPage, #questionPage, #leaderBoard {
    background: gainsboro;
    border: 3px black solid;
    border-radius: 12px;
    padding: 20px;

}

.mainDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.answerSpot {
    margin-top: 5px;
    border-top: 5px solid grey;
}

#answer {
    font-size: 20px;
}

#initials {
    border: 2px black solid;
    height: 50px;
    margin: 0 0 20px;
    margin-bottom: 20px;
    width: 100%;
}

p {
    font-size: 17px;
}

ul {
    list-style-type: none;
}

.hidden {
    display: none;
}

.show {
    display: auto;
}