#highScore {
    position: fixed;
    left: 10%;
}

#timeRemaining {
    position: fixed;
    right: 10%;
}

.mainDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.answerSpot {
    border-top: 5px solid grey;
}

.hidden {
    display: none;
}

.show {
    display: auto;
}